/**
 * General styles
 */
body {
    background-color: #3F3F3F;
}

/**
 * Customize Bootstrap
 */
 .navbar {
    margin-bottom: 0;
 }

.viewer {
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}